@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap");
:root {
  --link-color: #6a6a6a;
}
* {
  margin: 0;
  padding: 0;
}
.middle {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.nav-links {
  margin: 15px 0px;
  display: flex;
}
.nav-links a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  letter-spacing: 0.23em;
  color: var(--link-color);
  margin: 15px 30px;
}

.logo {
  margin: 15px 30px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.burger {
  display: none;
}
@media screen and (max-width: 600px) {
  .main-logo {
    width: 80vw;
  }
  .nav-links {
    display: none;
  }
  nav {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  }
  .logo {
    margin: 10px 20px;
    width: 8vw;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
  }
  .burger-line {
    height: 4px;
    width: 22px;
    margin-bottom: 3px;
    background-color: #dbdbdb;
  }
}
