@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap");
:root {
  --link-color: #6a6a6a;
  --primary-color: #89f0d1;
  --secondary-color: #5aa5d8;
  --tertiary-color: #1c73ad;
  --light-color: #def2ff;
  --text-color: #181818;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  color: var(--text-color);
  transition: all ease-in;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  top: 0;
  left: 0;
  right: 0;
}
a {
  text-decoration: none;
  padding-bottom: 15px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.23em;
  border-bottom: 2px solid black;
}
p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.23em;
}
.a--without-border {
  border-bottom: none;
  padding: 0px;
}
footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  margin: 15px 0px;
  display: flex;
}
.nav-links__a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  letter-spacing: 0.23em;
  color: var(--link-color);
  margin: 15px 30px;
  border-bottom: none;
  padding-bottom: 0;
}

.logo {
  margin: 15px 30px;
}
.burger {
  display: none;
}
.main {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.main__image {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
  z-index: -1;
}
#showcase {
  height: 100vh;
}
#skills {
  height: 100vh;
}
#about {
  height: 100vh;
}
#contact {
  height: 100vh;
}

.hue-filter {
  animation: hue-rotate 20s ease-in 0;
  animation-iteration-count: infinite;
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
    -moz-filter: hue-rotate(0deg);
    -o-filter: hue-rotate(0deg);
    -ms-filter: hue-rotate(0deg);
  }
  30% {
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
    -moz-filter: hue-rotate(180deg);
    -o-filter: hue-rotate(180deg);
    -ms-filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -o-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
  }
}
@media screen and (max-width: 700px) {
  .main__image {
    width: 80vw;
    padding: 5vh;
  }
  .nav-links {
    display: none;
  }
  nav {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    padding: 1vh;
  }
  .logo {
    margin: 10px 20px;
    width: 8vw;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
  }
  .burger-line {
    height: 4px;
    width: 22px;
    margin-bottom: 3px;
    background-color: #dbdbdb;
  }
}
